<header class="show_header">
    <% @id = params[:id] %>
    <% @movie = Movie.find_by(id: @id) %>
    <h2><%= @movie.name %>,<%=@movie.year%></h2>
    <p><%= @movie.description %></p>
    <img src="<%= @movie.image_url %>" class="movie-img">
</header>
<div class="content">

    <% @schedules = Schedule.where(movie_id: @id) %>
    <% if @schedules == nil %>
        <p>nil.</p>
    <% else %>
        <% @schedules.each do | schedule | %>
            <div>
                <p><%= schedule.start_time %></p><br>
                <p><%= schedule.end_time %></p>
            </div>
        <% end %>
    <% end %> 
</div>