<header class="show_header">
    <div class="show-header">
        <h2>作品名：<%= @movies.name %></h2>
        <h2>公開年：<%= @movies.year %></h2>
        <p>概要：<%= @movies.description %></p>
        <div class="show-header-image">
            <img src="<%= @movies.image_url %>">
        </div>
    </div>
</header>
<div class="content">
    <% if @schedule == nil %>
        <p>nil.</p>
    <% else %>
form_tag不要=>selectのvalueを取得
 
            <%= form_tag("/movies/#{@movies.id}/schedules/#{params[:id]}/sheets?date=aaa",:method => 'get') do %>
                <select name="start_time">
                    <% @schedule.each do | schedule | %>
                        <option value="<%= schedule.id %>"><%= schedule.start_time %></option>
                    <% end %>
                </select>
                <button>座席を予約する</button>
            <% end %>  
js使ってもよき
path形式でvalueをインスタンス変数に
form_withの方が良い?

<% @schedule.each do | schedule | %>
            <%= link_to("/movies/#{@movies.id}/schedules/#{schedule.id}/sheets?date=#{Date.today}") do %>
                <div>
                    <p>上映開始：<%= schedule.start_time.strftime( "%H:%M" ) %></p><br>
                    <p>上映終了：<%= schedule.end_time.strftime( "%H:%M" ) %></p>
                    座席を予約する
                </div>
            <% end %>
        <% end %> 
    <% end %> 
</div>
