<header class="show_header">
    <div class="show-header">
        <h2>作品名：<%= @movies.name %></h2>
        <h2>公開年：<%= @movies.year %></h2>
        <p>概要：<%= @movies.description %></p>
        <div class="show-header-image">
            <img src="<%= @movies.image_url %>">
        </div>
    </div>
</header>
<div class="content">
    <% if @schedule == nil %>
        <p>nil.</p>
    <% else %>
            <%= form_tag({ :controller => 'reservations', :action => 'index' },{ :method => :get}) do %>
                <select name="start_time">
                    <% @schedule.each do | schedule | %>
                        <option value="<%= schedule.start_time %>"><%= schedule.start_time %></option>
                    <% end %>
                </select>
                <%= submit_tag '座席を予約する' %>
            <% end %>
        <%
=begin%>
 <% @schedule.each do | schedule | %>
            <%= link_to("/movies/#{@movies.id}/schedules/#{schedule.id}/reservations/new") do %>
                <div>
                    <p>上映開始：<%= schedule.start_time %></p><br>
                    <p>上映終了：<%= schedule.end_time %></p>
                    予約する
                </div>
            <% end %>
        <% end %> 
<%
=end%>
    <% end %> 
</div>