<main>
    <table>
        <tr>
            <th></th>
            <th></th>
            <th>スクリーン</th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <% for i in 0..@row.length do %>
            <tr>
            <%= @date %>

            <% row = @row[i] %>
            <% @sheet_select_row = Sheet.where(row: row) %>
            <% @sheet_select_row.each do | sheet | %>
                <% if Reservation.where(date: @date).where(sheet_id: sheet.id).where(schedule_id: @schedule_id).blank? %>
                <th>
                    <%= link_to("/movies/#{@movie_id}/schedules/#{@schedule_id}/reservations/new/?sheet_id=#{sheet.id}&date=#{@date}") do %>
                        <%= sheet.row %>-<%= sheet.column %>
                    <% end %> 
                </th>
                <% else %>
                    <th><%= sheet.row %>-<%= sheet.column %></th>
                <% end %> 
            <% end %> 
            </tr>
        <% end %>
        
    </table>
</main>