<header>
    <h1>作品管理</h1>
    <%= link_to 'New', "/admin/movies/new" %>
    <div class="search-content">
        <div class="search">
            <%= form_tag("/admin/movies/search",:method => 'get') do %>
                <label for="search">キーワード</label>
                <%= text_field_tag :search , @search_name_return%>
                <%= radio_button_tag :is_showing, 'all' ,:checked => true %>
                <label for="is_showing_all" class="radio-label">すべて</label>
                <%= radio_button_tag :is_showing, 1 %>
                <label for="is_showing_1" class="radio-label">上映中</label>
                <%= radio_button_tag :is_showing, 0 %>
                <label for="is_showing_0" class="radio-label">上映予定</label>
                <%= submit_tag 'Search', :name => nil %>
            <% end %>
        </div>
        <div class="search-risult">
            <h2>キーワード：<%= @search_name %> , 上映状況：<%= @search_is_showing %></h2>
        </div>
    </div>
</header>
    <div class="content">
        <table>
        <tr>
        <th>ID</th>
        <th>映画タイトル</th>
        <th>公開年</th>
        <th>上映中か</th>
        <th>概要</th>
        <th>画像URL</th>
        <th>作成日時</th>
        <th>更新日時</th>
        <th></th>
        <th></th>
        </tr>
        <% if @movies == nil %>
            <p>nil.</p>
        <% else %>
            <% @movies.each do | movie | %>
            <tr>
                <td><%= movie.id %></td>
                <td><%= movie.name %></td>
                <td><%= movie.year %></td>
                <td>
                    <% if movie.is_showing == true %>
                        上映中
                    <% else %>
                        上映予定
                    <% end %>
                </td>
                <td><%= movie.description %></td>
                <td><img src="<%= movie.image_url %>" class="movie-img"></td>
                <td><%= movie.created_at %></td>
                <td><%= movie.updated_at %></td>
                <td><%= link_to 'Edit', "/admin/movies/#{movie.id}/edit" %></td>
                <td><%= link_to 'Delete', "/admin/movies/#{movie.id}", method: :delete %></td>
                <th><%= link_to '上映時間追加', "movies/#{movie.id}/schedules/new" %></th>
            </tr>
            <% @schedules = Schedule.where(movie_id: movie.id) %>
            <tr>
                <th colspan="3">上映開始</th>
                <th colspan="3">上映終了</th>
                <th colspan="4">各コマンド</th>
            </tr>
                <% @schedules.each do | schedule | %>
                    <tr>
                        <th colspan="3"><%= schedule.start_time %></th>
                        <th colspan="3"><%= schedule.end_time %></th>
                        <th colspan="2"><%= link_to "上映時間変更" , "movies/#{schedule.id}/schedules/edit" %></th>
                    </tr>
                <% end %>

            <% end %>
        <% end %>
        </table>
    </div>
<script>
</script>