<header class="show_header">
    <div class="show-header">
        <h2>作品名：<%= @movies.name %></h2>
        <h2>公開年：<%= @movies.year %></h2>
        <p>概要：<%= @movies.description %></p>
        <div class="show-header-image">
            <img src="<%= @movies.image_url %>">
        </div>
    </div>
</header>
<main>
    <div class="content">
    <%= form_for( @reservations ,url: {action: 'create'} ) do |f| %>
        <%= f.hidden_field :movie_id, :value => @movie_id %>
        <%= f.hidden_field :sheet, :value => @schedule_id %>
        <%= f.hidden_field :schedule_id, :value => @schedule_id %>
        <%= f.text_field :name  %>
        <%= f.text_field :email  %>
        <%= f.submit "座席を予約する" %>
    <% end %>
    </div>
</main>